<!DOCTYPE html>
<html>
<head>
    <title>Display</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>All Customers</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Amount</th>
            <th>Location</th>
        </tr>

        {% for row in customers %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">⬅ Back</a>
</div>

</body>
</html>