<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>

<div class="home-container">
    <h1>🚖 Admin Dashboard</h1>

    <div class="cards">
        <a href="/add" class="card">➕ Add Customer</a>
        <a href="/manage" class="card">✏️ Update & Delete</a>
        <a href="/display" class="card">📄 Display</a>
    </div>
</div><center>
<div class="footer">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    Developed by Firoz
</div>
</center>
</body>
</html>